<% if params[:word] %>
<p>
  <div class="alert alert-success">
    <%= image_tag 'smile.png' %> 正面情绪： <b><%= number_to_percentage(@good * 100, precision: 0) %></b>
  </div>
  <div class="alert alert-danger">
    <%= image_tag 'rage.png' %> 负面情绪： <b><%= number_to_percentage(@bad * 100, precision: 0) %></b>
  </div>
</p>
<% end %>